#include "gkmodules.h"
#include "ft2usbio.h"



STRINGTABLE
BEGIN
IDS_MODULE_PROVIDER      "Остапенко Д.В. СДТУ 1993-2005"
IDS_MODULE_DESCRIPT      "Модуль вовда/вывода через FT2USB"
IDS_MODULE_NAME          "FT2USB_IO"
END

STRINGTABLE
BEGIN
IDS_REPORT_TITLE  "CЦ-Гранит USB Ввод/вывод"
IDS_REPORT_TMPL1  "%d кадр без завершения"
IDS_REPORT_TMPL2  "%d кадров без завершения"
IDS_REPORT_TMPL3  "Переполнение приёмного буфера"
IDS_REPORT_TMPL4  "Завершение пакета без начала"
IDS_REPORT_TMPL5  "Набор байт"
IDS_REPORT_TMPL6  "пропуск принятого пакета %03d %03d"
IDS_REPORT_TMPL7  "USB устройство %s - "
IDS_REPORT_TMPL8  " не открыто %s"
IDS_REPORT_TMPL9  " открыто хендл = %08X"
IDS_REPORT_TMPL10 "USB устройство хендл %08X - закрыто"
IDS_REPORT_TMPL11 "FT_GetStatus вернуло ошибку %04X %s переоткрытие устройства"
IDS_REPORT_TMPL12  "обрыв канала связи %d"

IDS_INACTIVITY_RESET "Нет данных на приём в течении минуты - сброс устройства"

IDS_FTD2_ERROR+0    ""                            /*FT_OK*/
IDS_FTD2_ERROR+1    "INVALID_HANDLE"              /*    FT_INVALID_HANDLE,              */
IDS_FTD2_ERROR+2    "DEVICE_NOT_FOUND"            /*    FT_DEVICE_NOT_FOUND,            */
IDS_FTD2_ERROR+3    "DEVICE_NOT_OPENED"           /*    FT_DEVICE_NOT_OPENED,           */
IDS_FTD2_ERROR+4    "IO_ERROR"                    /*    FT_IO_ERROR,                    */
IDS_FTD2_ERROR+5    "INSUFFICIENT_RESOURCES"      /*    FT_INSUFFICIENT_RESOURCES,      */
IDS_FTD2_ERROR+6    "INVALID_PARAMETER,    "      /*    FT_INVALID_PARAMETER,           */
IDS_FTD2_ERROR+7    "INVALID_BAUD_RATE,    "      /*    FT_INVALID_BAUD_RATE,           */

IDS_FTD2_ERROR+8    "DEVICE_NOT_OPENED_FOR_ERASE" /*    FT_DEVICE_NOT_OPENED_FOR_ERASE, */
IDS_FTD2_ERROR+9    "DEVICE_NOT_OPENED_FOR_WRITE" /*    FT_DEVICE_NOT_OPENED_FOR_WRITE, */
IDS_FTD2_ERROR+10   "FAILED_TO_WRITE_DEVICE"      /*    FT_FAILED_TO_WRITE_DEVICE,      */
IDS_FTD2_ERROR+11   "EEPROM_READ_FAILED"          /*    FT_EEPROM_READ_FAILED,          */
IDS_FTD2_ERROR+12   "EEPROM_WRITE_FAILED"         /*    FT_EEPROM_WRITE_FAILED,         */
IDS_FTD2_ERROR+13   "EEPROM_ERASE_FAILED"         /*    FT_EEPROM_ERASE_FAILED,         */
IDS_FTD2_ERROR+14   "EEPROM_NOT_PRESENT"          /*    FT_EEPROM_NOT_PRESENT,          */
IDS_FTD2_ERROR+15   "EEPROM_NOT_PROGRAMMED"       /*    FT_EEPROM_NOT_PROGRAMMED,       */
IDS_FTD2_ERROR+16   "INVALID_ARGS"                /*    FT_INVALID_ARGS,                */
IDS_FTD2_ERROR+17   "NOT_SUPPORTED"               /*    FT_NOT_SUPPORTED,               */
IDS_FTD2_ERROR+18   "OTHER_ERROR"                 /*    FT_OTHER_ERROR                  */


END
