/*******************************************************************************
 *
 * Модуль    : grkernel
 * Описание  : Ресурсы
 * Автор     : Остапенко Д.В.
 * Версия    : 1
 * Создан    : 17.07.2002
 *
 ******************************************************************************/


#include "modemmer.h"


STRINGTABLE
BEGIN
#ifdef COMERCIAL_BUILD
IDS_MODULE_PROVIDER  "ООО \"Компания промышленной автоматизации\""
#else
IDS_MODULE_PROVIDER      "Остапенко Д.В. г.Азов 1993-2006"
#endif
IDS_MODULE_DESCRIPT      "Вывод на щит телемеханики "
IDS_MODULE_NAME          "Модуль вывода на щит телемеханики 'Гранит'"
IDS_MODEM_INFO           "Осущесвляет вывод на щит дискретных и аналоговых параметров"
END

/*
IDI_MODULE_ICONSM  ICON "D063_GM.ICO"
IDI_MODULE_ICON    ICON "D063_GM.ICO"
*/

IDI_MODULE_ICONSM  ICON "grantablet1.ico"
IDI_MODULE_ICON    ICON "grantablet1.ico"

/*
IDI_MODULE_ICONSM  ICON "telep1.ico"
IDI_MODULE_ICON    ICON "telep1.ico"
*/



VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Реализация вывода на щит Гранит протокол HDLC \0"
            VALUE "CompanyName", "ASDU\0"
            VALUE "FileDescription", "Модем - вывода на щит Гранит протокол HDLC\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "granitmdm\0"
            VALUE "LegalCopyright", "Copyright © 2006 SDTU Norilsk\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "grantablet.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "ASDU GRANIT SC\0"
            VALUE "ProductVersion", "1, 0, 0, 1\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
