/*******************************************************************************
 *
 * Модуль    : grkernel
 * Описание  : Ресурсы
 * Автор     : Остапенко Д.В.
 * Версия    : 1
 * Создан    : 17.07.2002
 *
 ******************************************************************************/


#include "gkmodules.h"
#include "modemmer.h"
#include "modemmer_err.rc"


STRINGTABLE
LANGUAGE LANG_RUSSIAN,SUBLANG_NEUTRAL
BEGIN
IDS_MODULE_PROVIDER      PROVIDER_STRING
IDS_MODULE_DESCRIPT      "Менеджер каналообразующих устройств ввода-вывода"
IDS_MODULE_NAME          "Модеммер"
END

STRINGTABLE
LANGUAGE LANG_ENGLISH,SUBLANG_NEUTRAL
BEGIN
IDS_MODULE_PROVIDER      PROVIDER_STRING_ENGL
IDS_MODULE_DESCRIPT      "Manager of link-maked in/out devices"
IDS_MODULE_NAME          "Modemmer"
END


IDI_MODULE_ICONSM  ICON "MODEMMER.ICO"
IDI_MODULE_ICON    ICON "MODEMMER.ICO"


/*
VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,1
 PRODUCTVERSION 1,0,0,1
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x2L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000004b0"
        BEGIN
            VALUE "Comments", "Менеджер каналообразующих устройств\0"
            VALUE "CompanyName", "ASDU\0"
            VALUE "FileDescription", "Менеджер каналообразующих устройств\0"
            VALUE "FileVersion", "1, 0, 0, 1\0"
            VALUE "InternalName", "modemmer\0"
            VALUE "LegalCopyright", "Copyright © 2001 SDTU Norilsk\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "modemmer.dll\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "ASDU modemmer\0"
            VALUE "ProductVersion", "1, 0, 0, 1\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0, 1200
    END
END
*/

STRINGTABLE LANGUAGE  0x19,0x1
BEGIN
IDS_MODEMMER_REP_CHNUMBER     "Смена номера модема с %d на %d "
IDS_MODEMMER_REP_REMOVEKADRS  "Modem %d линия %d  по таймауту удалено %d кадров"
IDS_MODEMMER_REP_TXERR        "Модем %d линия %d Ошибка при передаче "
END




