#include "gkmodules.h"
#include "rechistory.h"

LANGUAGE 0x19,0x1
1 11 REC_HIST_ERR_RU.bin
LANGUAGE 0x9,0x1
1 11 REC_HIST_ERR_EN.bin



STRINGTABLE
BEGIN

IDS_MODULE_PROVIDER  PROVIDER_STRING
IDS_MODULE_DESCRIPT  "Модуль истории изменений записей MediumDB"
IDS_MODULE_NAME      "Модуль историй"
END

IDI_MODULE_ICON   ICON "database_table.ico"
IDI_MODULE_ICONSM ICON "database_table16.ico"
